    <td><i class="fa fa-book fa-2x" style="color:gray"></i></td>
    <td><small> <%= time_ago_in_words(activity.created_at) %></small> <br>
      <% if activity.trackable %>
        <%= activity.owner.username if activity.owner %>
        <strong>created</strong> a page title:
        <strong><%= link_to activity.trackable.title, activity.trackable %></strong>
      <% else %>
        A file was deleted by <%= activity.owner.username if activity.owner %>.<%= link_to ' Click here to learn more or recover the file', deleted_pages_path %>
      <% end %>
    </td>
