<table class='table'>
  <thead>
    <tr>
      <th>Index</th>

      <th>Event</th>
      <th>Word Count</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%- page.versions.reverse.each do |version| %>
      <tr>
        <td><%= version.index %></td>
        <td><%= version.event.humanize %>d by <%= find_version_author_name(version) %> <%= time_ago_in_words(version.created_at) %> ago</td>
        <td><%= version.word_count %></td>
        <td><%= link_to 'Diff', diff_page_version_path(page, version) %></td>
        <td><%= link_to 'Rollback', rollback_page_version_path(page, version), method: 'PATCH' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
