<div class='row mt'>
  <div class='col-sm-12'>
    <h2><%= "Diff between Version #{@version.id} and Current Version" %></h2>
    <style><%= Diffy::CSS %></style>
    <div class='well diff'>
      <p>
        <strong>Title:</strong>
        <%= diff(@version.reify.title, @page.title) %>
      </p>
      <p>
        <strong>Content:</strong>
        <%= diff(@version.reify.content, @page.content) %>
      </p>
    </div>
    <p>
    <%= "'#{@version.event.humanize}' by #{find_version_author_name(@version)} on #{@version.created_at.strftime("#{@version.created_at.day.ordinalize} of %B, %Y at %I:%M %p EST")}." %> <br>
    </p>
  </div>
</div>
<div class='fr'>
  <%= link_to 'Back', edit_page_path(@page), class: 'btn btn-danger' %>
  <%= link_to 'Rollback', rollback_page_version_path(@page, @version), class: 'btn btn-primary', method: 'PATCH' %>
</div>


