<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>DocuHelp</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body data-spy="scroll" data-target="#topnav">

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" id="topnav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="" alt="Expose" height="17px" /> </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><%= link_to "Home", root_path %></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#features">Features</a></li>
                <li><%= link_to "New Page", new_page_path %></li>

            </ul>

            <% if user_signed_in? %>
            <%= link_to 'See Deleted Pages', deleted_pages_path %>
                  <%= current_user.username %>
                  <%= link_to "Edit Profile", edit_user_registration_path %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path %> |
                  <%= link_to "Login", new_user_session_path %>
                <% end %>

            <ul class="nav navbar-nav">
               <li><a href="#contact" class="pull-right">Contact</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<div class="container">
   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>
</div>

</body>
</html>
